<div class="p-4 text-center buy-coffee-widget">
  <%= link_to "Buy me a coffee", "https://buymeacoffee.com/rubydive", target: "_blank", rel: "noopener", class: "inline-block bg-yellow-500 hover:bg-yellow-600 text-white py-2 px-4 rounded" %>
</div>
