<div class="flex flex-col items-start w-full px-4 py-10 mx-auto max-w-7xl gap-y-8 sm:px-6 lg:px-8">
  <main class="flex-1 w-full">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">Predictions</h1>
          <p class="mt-2 text-sm text-gray-700">A list of all predictions available for the currently logged-in user.</p>
        </div>
      </div>
      <div class="flow-root mt-8">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="flex flex-wrap">
                <tr class="flex w-full">
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0 flex-1">Product name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 flex-1">Category name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 flex-1">Confirmed</th>
                  <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-3 pr-4 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8 flex-1">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="flex flex-wrap divide-y divide-gray-200">
                <%= render partial: 'product_categories/product_category', collection: @product_categories, as: :pc %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
