<div class="flex items-start w-full px-4 py-10 mx-auto max-w-7xl gap-x-8 sm:px-6 lg:px-8">
  <main class="flex-1">
    <%= form_with(model: @diet, local: true, html: { class: "space-y-12 sm:space-y-16" }, data: { turbo:false }) do |form| %>
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Diet</h2>
        <p class="max-w-2xl mt-1 text-sm leading-6 text-gray-600">Content of you diet will be parsed and saved into database.</p>

        <div>
          <%= form.label :name, 'Name', class: 'block text-sm font-medium leading-6 text-gray-900' %>
          <div class="mt-2">
            <%= form.text_field :name, class: 'block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-end mt-6 gap-x-6">
        <%= form.submit 'Save', class: 'inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
      </div>
    <% end %>
  </main>
</div>
